.portal-nav {
    margin-bottom: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  .nav-links a{
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    outline: 2px solid rgb(183, 58, 164);
    padding: 10px 40px;
    margin-left: 70px;
    transition: color .5s;
    transition: background-color .5s;
    transition: outline-color .5s;
  }
  .nav-links a:hover{
    color:#fff;
    background-color: rgb(183, 58, 164);
    outline-color: #fff;
  }
  .nav-links a.active{
    color: #fff;
    background-color:rgb(183, 58, 164);
    outline-color: #fff;
  }